In [2]:
import pandas as pd

# Setting up initial dataset

In [3]:
# Define the column names
column_names = [
    'UnitNumber', 'TimeInCycles', 'OperationalSetting1', 'OperationalSetting2', 'OperationalSetting3',
    'SensorMeasurement1', 'SensorMeasurement2', 'SensorMeasurement3', 'SensorMeasurement4', 'SensorMeasurement5',
    'SensorMeasurement6', 'SensorMeasurement7', 'SensorMeasurement8', 'SensorMeasurement9', 'SensorMeasurement10',
    'SensorMeasurement11', 'SensorMeasurement12', 'SensorMeasurement13', 'SensorMeasurement14', 'SensorMeasurement15',
    'SensorMeasurement16', 'SensorMeasurement17', 'SensorMeasurement18', 'SensorMeasurement19', 'SensorMeasurement20',
    'SensorMeasurement21'
]

train1 = pd.read_excel("Data/Book1.xlsx") # load excel file a variable
train1 = train1.iloc[:, :-2]              # remove last 2 cols, they are empty
train1.columns = column_names             # change col names
train1.head(5)

,UnitNumber,TimeInCycles,OperationalSetting1,OperationalSetting2,OperationalSetting3,SensorMeasurement1,SensorMeasurement2,SensorMeasurement3,SensorMeasurement4,SensorMeasurement5,...,SensorMeasurement12,SensorMeasurement13,SensorMeasurement14,SensorMeasurement15,SensorMeasurement16,SensorMeasurement17,SensorMeasurement18,SensorMeasurement19,SensorMeasurement20,SensorMeasurement21
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044

In [4]:
train2 = pd.read_excel("Data/train2.xlsx")   # load excel file a variable
#train2 = train2.iloc[:, :-2]                # remove last 2 cols, they are empty
train2.columns = column_names                # change col names
train2.head(5)

,UnitNumber,TimeInCycles,OperationalSetting1,OperationalSetting2,OperationalSetting3,SensorMeasurement1,SensorMeasurement2,SensorMeasurement3,SensorMeasurement4,SensorMeasurement5,...,SensorMeasurement12,SensorMeasurement13,SensorMeasurement14,SensorMeasurement15,SensorMeasurement16,SensorMeasurement17,SensorMeasurement18,SensorMeasurement19,SensorMeasurement20,SensorMeasurement21
0,1,1,34.9983,0.8400,100,449.44,555.32,1358.61,1137.23,5.48,...,183.06,2387.72,8048.56,9.3461,0.02,334,2223,100.00,14.73,8.8071
1,1,2,41.9982,0.8408,100,445.00,549.90,1353.22,1125.78,3.91,...,130.42,2387.66,8072.30,9.3774,0.02,330,2212,100.00,10.41,6.2665
2,1,3,24.9988,0.6218,60,462.54,537.31,1256.76,1047.45,7.05,...,164.22,2028.03,7864.87,10.8941,0.02,309,1915,84.93,14.08,8.6723
3,1,4,42.0077,0.8416,100,445.00,549.51,1354.03,1126.38,3.91,...,130.72,2387.61,8068.66,9.3528,0.02,329,2212,100.00,10.59,6.4701
4,1,5,25.0005,0.6203,60,462.54,537.07,1257.71,1047.93,7.05,...,164.31,2028.00,7861.23,10.8963,0.02,309,1915,84.93,14.13,8.5286

In [5]:
train3 = pd.read_excel("Data/train3.xlsx")   # load excel file a variable
train3 = train3.iloc[:, :-2]                # remove last 2 cols, they are empty
train3.columns = column_names                # change col names
train3.head(5)

,UnitNumber,TimeInCycles,OperationalSetting1,OperationalSetting2,OperationalSetting3,SensorMeasurement1,SensorMeasurement2,SensorMeasurement3,SensorMeasurement4,SensorMeasurement5,...,SensorMeasurement12,SensorMeasurement13,SensorMeasurement14,SensorMeasurement15,SensorMeasurement16,SensorMeasurement17,SensorMeasurement18,SensorMeasurement19,SensorMeasurement20,SensorMeasurement21
0,1,1,-0.0005,0.0004,100,518.67,642.36,1583.23,1396.84,14.62,...,522.31,2388.01,8145.32,8.4246,0.03,391,2388,100,39.11,23.3537
1,1,2,0.0008,-0.0003,100,518.67,642.50,1584.69,1396.89,14.62,...,522.42,2388.03,8152.85,8.4403,0.03,392,2388,100,38.99,23.4491
2,1,3,-0.0014,-0.0002,100,518.67,642.18,1582.35,1405.61,14.62,...,522.03,2388.00,8150.17,8.3901,0.03,391,2388,100,38.85,23.3669
3,1,4,-0.0020,0.0001,100,518.67,642.92,1585.61,1392.27,14.62,...,522.49,2388.08,8146.56,8.3878,0.03,392,2388,100,38.96,23.2951
4,1,5,0.0016,0.0000,100,518.67,641.68,1588.63,1397.65,14.62,...,522.58,2388.03,8147.80,8.3869,0.03,392,2388,100,39.14,23.4583

In [6]:
train4 = pd.read_excel("Data/train4.xlsx")   # load excel file a variable
train4 = train4.iloc[:, :-2]                # remove last 2 cols, they are empty
train4.columns = column_names                # change col names
train4.head(5)

,UnitNumber,TimeInCycles,OperationalSetting1,OperationalSetting2,OperationalSetting3,SensorMeasurement1,SensorMeasurement2,SensorMeasurement3,SensorMeasurement4,SensorMeasurement5,...,SensorMeasurement12,SensorMeasurement13,SensorMeasurement14,SensorMeasurement15,SensorMeasurement16,SensorMeasurement17,SensorMeasurement18,SensorMeasurement19,SensorMeasurement20,SensorMeasurement21
0,1,1,42.0049,0.8400,100,445.00,549.68,1343.43,1112.93,3.91,...,129.78,2387.99,8074.83,9.3335,0.02,330,2212,100.00,10.62,6.3670
1,1,2,20.0020,0.7002,100,491.19,606.07,1477.61,1237.50,9.35,...,312.59,2387.73,8046.13,9.1913,0.02,361,2324,100.00,24.37,14.6552
2,1,3,42.0038,0.8409,100,445.00,548.95,1343.12,1117.05,3.91,...,129.62,2387.97,8066.62,9.4007,0.02,329,2212,100.00,10.48,6.4213
3,1,4,42.0000,0.8400,100,445.00,548.70,1341.24,1118.03,3.91,...,129.80,2388.02,8076.05,9.3369,0.02,328,2212,100.00,10.54,6.4176
4,1,5,25.0063,0.6207,60,462.54,536.10,1255.23,1033.59,7.05,...,164.11,2028.08,7865.80,10.8366,0.02,305,1915,84.93,14.03,8.6754

In [7]:
# Read and store label 
test1 = pd.read_excel("Data/RUL_FD001.xlsx")
test2 = pd.read_excel("Data/RUL_FD002.xlsx")
test3 = pd.read_excel("Data/RUL_FD003.xlsx")
test4 = pd.read_excel("Data/RUL_FD004.xlsx")

In [8]:
complete_train = pd.concat([train1, train2, train3, train4], axis=0)
complete_test = pd.concat([test1, test2, test3, test4], axis=0)
complete_test = complete_test.iloc[:, :-1]

In [9]:
complete_train.head()

,UnitNumber,TimeInCycles,OperationalSetting1,OperationalSetting2,OperationalSetting3,SensorMeasurement1,SensorMeasurement2,SensorMeasurement3,SensorMeasurement4,SensorMeasurement5,...,SensorMeasurement12,SensorMeasurement13,SensorMeasurement14,SensorMeasurement15,SensorMeasurement16,SensorMeasurement17,SensorMeasurement18,SensorMeasurement19,SensorMeasurement20,SensorMeasurement21
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [10]:
complete_test.head(5)

     RUL
0  112.0
1   98.0
2   69.0
3   82.0
4   91.0

In [11]:
#complete_train.to_csv('complete_train.csv', index=False)
complete_test.to_csv('complete_test.csv', index=False)